/*标签选择器*/
    a{
        text-decoration: none;
    } /*去除文本超链接下划线*/

/*搜索栏CSS（CSS前缀aa）*/
    * {
        margin: 0;
        padding: 0;
    }
    .aacontainer {
        height: 70px;
        width: 800px;
        margin: 100px auto 0 auto;
    }
    .aaparent {
        position: relative;
    }
    .aasearch {
        width: 300px;
        height: 40px;
        border-radius: 18px;
        outline: none;
        border: 1px solid #ccc;
        padding-left: 20px;
        position: absolute;
    }
    .aabtn {
        height: 35px;
        width: 35px;
        position: absolute;
        background: url(" ../images/topsearch.png ") no-repeat -2px -99px;
        top: 6px;
        left: 285px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    
    