a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul,
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top; }

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table, table td {
    padding:0;
    border:none;
    border-collapse:collapse;
}
img {
    vertical-align:top;
}
embed {
    vertical-align:top;
}



/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
    margin-left: auto;
    margin-right: auto;
    width: 976px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
    width:49px;
}

.container_16 .grid_2 {
    width:110px;
}

.container_16 .grid_3 {
    width:171px;
}

.container_16 .grid_4 {
    width:232px;
}

.container_16 .grid_5 {
    width:293px;
}

.container_16 .grid_6 {
    width:354px;
}

.container_16 .grid_7 {
    width:415px;
}

.container_16 .grid_8 {
    width:476px;
}

.container_16 .grid_9 {
    width:537px;
}

.container_16 .grid_10 {
    width:598px;
}

.container_16 .grid_11 {
    width:659px;
}

.container_16 .grid_12 {
    width:720px;
}

.container_16 .grid_13 {
    width:781px;
}

.container_16 .grid_14 {
    width:842px;
}

.container_16 .grid_15 {
    width:903px;
}

.container_16 .grid_16 {
    width:964px;
}



/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
    padding-left:61px;
}

.container_16 .prefix_2 {
    padding-left:122px;
}

.container_16 .prefix_3 {
    padding-left:183px;
}

.container_16 .prefix_4 {
    padding-left:244px;
}

.container_16 .prefix_5 {
    padding-left:305px;
}

.container_16 .prefix_6 {
    padding-left:366px;
}

.container_16 .prefix_7 {
    padding-left:427px;
}

.container_16 .prefix_8 {
    padding-left:488px;
}

.container_16 .prefix_9 {
    padding-left:549px;
}

.container_16 .prefix_10 {
    padding-left:610px;
}

.container_16 .prefix_11 {
    padding-left:671px;
}

.container_16 .prefix_12 {
    padding-left:732px;
}

.container_16 .prefix_13 {
    padding-left:793px;
}

.container_16 .prefix_14 {
    padding-left:854px;
}

.container_16 .prefix_15 {
    padding-left:915px;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
    padding-right:61px;
}

.container_16 .suffix_2 {
    padding-right:122px;
}

.container_16 .suffix_3 {
    padding-right:183px;
}

.container_16 .suffix_4 {
    padding-right:244px;
}

.container_16 .suffix_5 {
    padding-right:305px;
}

.container_16 .suffix_6 {
    padding-right:366px;
}

.container_16 .suffix_7 {
    padding-right:427px;
}

.container_16 .suffix_8 {
    padding-right:488px;
}

.container_16 .suffix_9 {
    padding-right:549px;
}

.container_16 .suffix_10 {
    padding-right:610px;
}

.container_16 .suffix_11 {
    padding-right:671px;
}

.container_16 .suffix_12 {
    padding-right:732px;
}

.container_16 .suffix_13 {
    padding-right:793px;
}

.container_16 .suffix_14 {
    padding-right:854px;
}

.container_16 .suffix_15 {
    padding-right:915px;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
    left:61px;
}

.container_16 .push_2 {
    left:122px;
}

.container_16 .push_3 {
    left:183px;
}

.container_16 .push_4 {
    left:244px;
}

.container_16 .push_5 {
    left:305px;
}

.container_16 .push_6 {
    left:366px;
}

.container_16 .push_7 {
    left:427px;
}

.container_16 .push_8 {
    left:488px;
}

.container_16 .push_9 {
    left:549px;
}

.container_16 .push_10 {
    left:610px;
}

.container_16 .push_11 {
    left:671px;
}

.container_16 .push_12 {
    left:732px;
}

.container_16 .push_13 {
    left:793px;
}

.container_16 .push_14 {
    left:854px;
}

.container_16 .push_15 {
    left:915px;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
    left:-61px;
}

.container_16 .pull_2 {
    left:-122px;
}

.container_16 .pull_3 {
    left:-183px;
}

.container_16 .pull_4 {
    left:-244px;
}

.container_16 .pull_5 {
    left:-305px;
}

.container_16 .pull_6 {
    left:-366px;
}

.container_16 .pull_7 {
    left:-427px;
}

.container_16 .pull_8 {
    left:-488px;
}

.container_16 .pull_9 {
    left:-549px;
}

.container_16 .pull_10 {
    left:-610px;
}

.container_16 .pull_11 {
    left:-671px;
}

.container_16 .pull_12 {
    left:-732px;
}

.container_16 .pull_13 {
    left:-793px;
}

.container_16 .pull_14 {
    left:-854px;
}

.container_16 .pull_15 {
    left:-915px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}



/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */
body {
    background:#993333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:100%;
    line-height:1.125em;
    color:#c0c0c0;
}
html { min-width:980px;}
html, body { height:100%;}



/* Global Structure ============================================================= */
.container_16 {
    font-size:.75em;
    position:relative;
}

/* Header */
header{
    height:600px;
    overflow:hidden;
    border-bottom:2px solid #2a2a2a;
    background:url(../images/header-pattern.gif) 50% 0 #1d1d1d;
}

/* Content */
#content {
    padding:20px 0 35px 0;
    background:#99CC66;
}
#mainContent {
    padding:13px 0 0 0;
}

/* Footer */
footer{
    border-top:1px solid #292929;
    padding:40px 0 40px 0;
}





/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.col-1, .col-2, .col-3 { float:left;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper {
    width:100%;
    overflow:hidden;
}

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 20px; }

/*----- form defaults -----*/
input, select, textarea {
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    vertical-align:middle;
    font-weight:normal;
}

/*----- other -----*/
figure {
    margin:0 24px 0 0;
    float:left;
    padding:4px;
    background:#fff;
    position:relative;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    behavior:url(js/PIE.htc);
}
figure.alt {
    margin-right:5px;
}
figure.last {
    margin-right:0;
}
.img-box {
    width:100%;
    overflow:hidden;
    padding-bottom:20px;
}

.extra-wrap {
    overflow:hidden;
}

p {margin-bottom:18px;}
.p1 { margin-bottom:9px;}
.p2 { margin-bottom:18px;}
.p3 { margin-bottom:27px;
}


/*----- txt, links, lines, titles -----*/
a {
    color:#000000;
    outline:none;
}
a:hover{
    text-decoration:none;
}

h2 {
    font-size:33px;
    color:#fff;
    line-height:1.2em;
    font-style:italic;
    font-weight:normal;
    letter-spacing:-1px;
    margin-bottom:.5em;
}
h3 {
    font-size:1em;
    color:#616161;
    margin-bottom:12px;
}
h4 {
    font-size:1em;
    color:#616161;
    margin-bottom:12px;
}
h5 {
    font-size:1em;
    color:#616161;
    margin-bottom:12px;
}
hgroup h5 {
    margin-bottom:4px;
}
hgroup h4 {
    margin-bottom:18px;
}



.button {
    display:inline-block;
    position:relative;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#d42400;
    background: -webkit-gradient(linear, 0 0, 0 70%, from(#ed2800), to(#b21e00));
    background: -moz-linear-gradient(#ed2800, #b21e00 70%);
    background: linear-gradient(#ed2800, #b21e00 70%);
    -pie-background: linear-gradient(#ed2800, #b21e00 70%);
    behavior: url(js/PIE.htc);
    padding:0 18px 0 18px;
    line-height:35px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    -webkit-transition-duration: 0.5s;
}
.button:hover {
    background:#fff;
    color:#000;
}

/*==================boxes====================*/
.box {
    background:url(../images/box-bg.gif) 0 100% repeat-x #b5c83c;
    padding:24px 18px 40px 20px;
    border:1px solid #c9dd47;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    behavior:url(js/PIE.htc);
    position:relative;
    color:#fff;
}
.box h2 {
    color:#121212;
    background:url(../images/bd_bot.gif) 0 100% repeat-x;
    padding-bottom:20px;
    margin-bottom:20px;
    line-height:30px;
    letter-spacing:-1px;
}
.box h3 {
    font-weight:normal;
    color:#000;
    font-size:16px;
    line-height:22px;
    text-transform:none;
}
.box h3 a {
    color:#000;
}


.address {
    float:left;
    margin:0 30px 10px 0;
}
.address.last {
    margin-right:0;
}
.address dt {
    margin-bottom:4px;
    text-transform:uppercase;
}
.address dd {
    clear:both;
}
.address dd span {
    float:left;
    padding-right:25px;
}
.address dd a {
    color:#c0c0c0;
}



/* Header
---------------------------------------- */

/* Logo */
header .logo {
    position:absolute;
    left:45px;
    top:70px;
    background:url(../images/logo.png) no-repeat 0 0;
    padding:20px 0 0 20px;
    width: 156px;
}
header .logo h1 {
    font-size:38px;
    line-height:1.2em;
    color:#c3c3c3;
    font-weight:normal;
    font-style:italic;
    letter-spacing:-1px;
}
header .logo h1 a {
    color:#c3c3c3;
    text-decoration:none;
}
header .logo h1 a strong {
    color:#fff;
}

/* Navigation */
header nav {
    position:absolute;
    right:25px;
    top:97px;
}
header nav ul li {
    float:left;
    padding-left:6px;
}
header nav ul li a {
    float:left;
    color:#fff;
    text-decoration:none;
    width:80px;
    text-align:center;
    line-height:31px;
    font-size:14px;
}
header nav ul li a:hover,
header nav ul li a.current {
    background:url(../images/nav-bg.gif) 0 0 repeat-x;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

}



/* Faded Slider */
#faded {
    position:absolute;
    left:0;
    top:161px;
    padding-bottom:20px;
}
/*
 * Required: If fixed height, state it here
*/
#faded .rap {
    background:url(../images/img-wrapper-bg.jpg) no-repeat 50% 0 #d92400;
    border:1px solid #e46b00;
    width:589px;
    height:416px;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:-2px 8px 5px rgba(0, 0, 0, .6);
    -moz-box-shadow:-2px 8px 5px rgba(0, 0, 0, .6);
    -webkit-box-shadow:-2px 8px 5px rgba(0, 0, 0, .6);
    z-index:10;
    overflow:hidden;
}
#faded .rap img {
    margin:9px 0 0 9px;
}


#faded ul.pagination {
    position:absolute;
    left:537px;
    top:10px;
    background:url(../images/pagination-splash.gif) no-repeat 0 0 #2a2a2a;
    border:1px solid #3a3a3a;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:-2px 8px 5px rgba(0, 0, 0, .4);
    -moz-box-shadow:-2px 8px 5px rgba(0, 0, 0, .4);
    -webkit-box-shadow:-2px 8px 5px rgba(0, 0, 0, .4);
    z-index:9;
    padding:25px 0 25px 0;
}
#faded ul.pagination li {
    width:429px;
    position:relative;
    background:url(../images/line-bot.gif) no-repeat 77px 100%;
    padding-bottom:1px;
    height:1%;
}
#faded ul.pagination li:last-child {
    background:none;
}
#faded ul.pagination li a {
    display:block;
    padding:16px 40px 14px 77px;
    overflow:hidden;
    color:#7f7f7f;
    text-decoration:none;
    font-size:13px;
    line-height:28px;
    height:1%;
    cursor:pointer;
    -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
}
#faded ul.pagination li a:hover, #faded ul.pagination li.current a {
    background-color:#1d1d1d;
    color:#fff;
}
#faded ul.pagination li a img {
    float:left;
    margin-right:28px;
}
#faded ul.pagination li a span.left {
    float:left;
    width:100px;
}
#faded ul.pagination li a span.right {
    float:left;
    width:80px;
}
#faded .extra-banner {
    position:absolute;
    left:485px;
    top:307px;
    z-index:11;
}



/* Content
---------------------------------------- */
#mainContent article {
    padding:0 0 32px 0;
    margin-bottom:30px;
    border-bottom:1px dashed #323232;
}
#mainContent article.last {
    padding-bottom:0;
    margin-bottom:0;
    border:none;
}


/* Aside */
aside article {
    padding-bottom:0;
    margin-bottom:35px;
}
aside article.last {
    margin-bottom:0;
}


/* List of images */
.img-list {
    padding-bottom:9px;
}
.img-list li {
    float:left;
    padding:0 9px 9px 0;
    width:109px;
    height:93px;
}
.img-list li a {
    float:left;
    padding:4px;
    background:#fff;
    position:relative;
    z-index:1;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    behavior:url(js/PIE.htc);
    -webkit-transition-duration: 0.5s;
}
.img-list li a:hover {
    z-index:2;
    background:#ce2300;
    -webkit-transform:scale(1.5);
}


/* Accordion */
.accordion dt {
    font-size:16px;
    line-height:1.2em;
    color:#000;
    position:relative;
    padding:10px 0 5px 40px;
    height:1%;
}
.accordion dt img {
    position:absolute;
    left:0;
    top:10px;
}
.accordion dt a {
    color:#000;
}
.accordion dd {
    display:none;
    padding:0 0 0 40px;
}



/* Lists */
.list1 li {
    background:url(../images/arrow1.gif) no-repeat 0 7px;
    padding:0 0 6px 15px;
    font-size:13px;
    zoom:1;
}
.list1 li a {
    color:#fff;
    font-weight:bold;
}

/*===== footer =====*/
footer .container_16 {
    font-size:.625em;
}

footer .copy {

}
footer .copy span {
    text-transform:uppercase;
    color:#e1e1e1;
}
footer .copy a {
    color:#777;
}


/*----- forms -----*/
#contacts-form fieldset {
    border:none;
}
#contacts-form label {
    display:block;
    height:26px;
    overflow:hidden;
}
#contacts-form span {
    float:left;
    width:66px;
}
#contacts-form input {
    float:left;
    background:#FFFFFF;
    border:1px solid #a4a4a4;
    width:210px;
    padding:1px 5px 1px 5px;
    color:#333333;
}
#contacts-form textarea {
    float:left;
    width:210px;
    padding:1px 5px 1px 5px;
    height:195px;
    background:##FFFFFF;
    border:1px solid #a4a4a4;
    overflow:auto;
    color:#fff;
}
#contacts-form .button {
    float:right;
    margin-left:16px;
    margin-top:14px;
}
/*==========================================*/
